UPLOAD_API_URL=https://docuia-api-upload.azurewebsites.net
IA_API_URL=https://docuia-api-ia.azurewebsites.net
GITHUB_API_URL=https://docuia-api-github.azurewebsites.net
FRONT_PRINCIPAL_URL=https://docuia-frontend-hdc8hzfqbqebc6cp.brazilsouth-01.azurewebsites.net/dashboard
PROJETOS_SERVICE_URL=https://docuia-frontend-hdc8hzfqbqebc6cp.brazilsouth-01.azurewebsites.net/projeto?id=1
LOGIN_URL=https://docuia-frontend-hdc8hzfqbqebc6cp.brazilsouth-01.azurewebsites.net/login
JWT_SECRET_KEY=c820713b9f854b5ae1a4670497eeb87db00ee54374cae1183c48cda46519f0c2
ALGORITHM=HS256